<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
	   <dict>
			<key>UTTypeDescription</key>
			<string>XMind Open Format</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xmind.net/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.xmind.openformat</string>
	   </dict>
	   <dict>
			<key>UTTypeDescription</key>
			<string>XMind Workbook</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xmind.net/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xmind.openformat</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.xmind.openformat.xmind</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xmind</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.xmind.workbook</string>
			</dict>
	   </dict>
	   <dict>
			<key>UTTypeDescription</key>
			<string>XMind 2007/2008 Workbook</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xmind.net/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xmind.openformat</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.xmind.openformat.xmap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xmap</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.xmind.xmap</string>
			</dict>
	   </dict>
	   <dict>
			<key>UTTypeDescription</key>
			<string>XMind Template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xmind.net/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xmind.openformat</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_xmt.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.xmind.openformat.xmt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xmt</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.xmind.template</string>
			</dict>
	   </dict>
	   <dict>
			<key>UTTypeDescription</key>
			<string>XMind Markers Package</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.xmind.net/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.xmind.openformat</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_xmp.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.xmind.openformat.xmp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xmp</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.xmind.media-package</string>
			</dict>
	   </dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>FreeMind Mindmap</string>
			<key>UTTypeReferenceURL</key>
			<string>http://freemind.sourceforge.net/wiki/index.php/Main_Page</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.freemind.mm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Mindjet MindManager Mindmap</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mindjet.com/</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.mindjet.mindmanager.mmap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mmap</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xmind</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>XMind Workbook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xmind.openformat.xmind</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xmap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>XMind 2007/2008 Workbook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xmind.openformat.xmap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xmt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_xmt.icns</string>
			<key>CFBundleTypeName</key>
			<string>XMind Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xmind.openformat.xmt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_xmp.icns</string>
			<key>CFBundleTypeName</key>
			<string>XMind Markers Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xmind.openformat.xmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>FreeMind Mindmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.freemind.mm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mmap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xmind_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>Mindjet MindManager Mindmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mindjet.mindmanager.mmap</string>
			</array>
		</dict>
	</array>
    <key>CFBundleExecutable</key>
	<string>XMind</string>
	<key>CFBundleGetInfoString</key>
	<string>XMind 2013 (3.4.1.201401221918), Copyright XMind Ltd., 2006-2013.</string>
	<key>CFBundleIconFile</key>
	<string>xmind.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.xmind.cathy.application</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XMind</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>xmnd</string>
	<key>CFBundleVersion</key>
	<string>3.4.1.201401221918</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>da</string>
		<string>de</string>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>ja</string>
		<string>ko</string>
		<string>ru</string>
		<string>sl</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>zh</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright XMind Ltd., 2006-2013.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
</dict>
</plist>
